.success {
    border: 3px solid greenyellow;
    color: greenyellow;
    background-color: white;
}

.warning {
    border: 3px solid orange;
    color: orange;
    background-color: white;
}

.danger {
    border: 3px solid red;
    color: red;
    background-color: white;
}

.info {
    border: 3px solid dodgerblue;
    color: dodgerblue;
    background-color: white;
}

.slide-in {
    animation: slideIn 0.5s linear forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-30%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}