.pending {
    color: orange;
}

.processing {
    opacity: 1;
    animation: fade 2s linear;
    animation-iteration-count: infinite;
    color: lightskyblue;
}

@keyframes fade {
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
  }

.done {
    color: greenyellow;
}

.error {
    color: red;
}