<div class="card h-100">
    <div class="card-body">
        <div class="row">
            <h5 class="card-title col-10">{{ task.description }}</h5>
            <i class="float-right {{ task.status }} {{ getStatusIcon() }}"
               style="height: 32px; width: 32px;"
               [ngbPopover]="task.status"
               triggers="mouseenter:mouseleave"
               placement="bottom"></i>
        </div>
        <h6 class="card-subtitle mb-2 text-muted text-truncate"
            [ngbPopover]="task.assignee"
            triggers="mouseenter:mouseleave"
            [openDelay]="750"
            container="body">{{ task.assignee }}</h6>
        <a class="card-text"
           ngbPopover="Click to open your task on Jira"
           triggers="mouseenter:mouseleave"
           [openDelay]="750"
           container="body"
           href="{{ jiraPrefix }}{{ task.key }}"
           target="blank"> {{ task.key }}
        </a>
        <div class="card-text text-truncate"
             style="font-size: small;"
             [ngbPopover]="task.type"
             triggers="mouseenter:mouseleave"
             [openDelay]="750"
             container="body"> {{ task.type }}</div>
        <div class="card-text font-weight-bold text-muted pt-2"> Time entries:</div>
        <form [formGroup]="taskForm">
            <div *ngFor="let timeEntry of task.timeEntries;">
                <tojira-time-entry [timeEntry]="timeEntry"
                                   [parentGroup]="getTimeEntriesForm()"></tojira-time-entry>
            </div>
        </form>
    </div>
</div>