<div class="card h-100">
    <div class="card-body">
        <div class="row">
            <h5 class="card-title col-10">{{ task.description }}</h5>
            <i class="float-right {{ task.status }} {{ getStatusIcon() }}"
               style="height: 32px; width: 32px;"
               [ngbPopover]="task.status"
               triggers="mouseenter:mouseleave"
               placement="bottom"></i>
        </div>
        <h6 class="card-subtitle mb-2 text-muted text-truncate"
            [ngbPopover]="task.assignee"
            triggers="mouseenter:mouseleave"
            [openDelay]="750"
            container="body">{{ task.assignee }}</h6>
        <a class="card-text"
           ngbPopover="Click to open your task on Jira"
           triggers="mouseenter:mouseleave"
           [openDelay]="750"
           container="body"
           href="{{ jiraPrefix }}{{ task.key }}"
           target="blank"> {{ task.key }}
        </a>
        <div class="card-text text-truncate"
             style="font-size: small;"
             [ngbPopover]="task.type"
             triggers="mouseenter:mouseleave"
             [openDelay]="750"
             container="body"> {{ task.type }}</div>
        <div class="card-text font-weight-bold text-muted pt-2"> Time entries:</div>
        <form [formGroup]="taskForm">
            <div formArrayName="timeEntries">
                <div *ngFor="let entry of task.timeEntries; let idx = index;"
                     style="font-size: small;">
                    <div class="row"
                         [formGroupName]="idx">
                        <div class="ml-3"
                             style="width: 75%">
                            <span> {{ entry.at.toLocaleDateString() }} - {{ getTimeTemplate(entry.duration) }}
                            </span>
                            <i class="far fa-comment ml-2"
                               *ngIf="!!entry.comment"
                               [ngbPopover]="entry.comment"
                               triggers="mouseenter:mouseleave"
                               container="body"></i>
                        </div>
                        <div class="custom-control custom-switch">
                            <input type="checkbox"
                                   formControlName="willSend"
                                   checked
                                   class="custom-control-input"
                                   [id]="entry.id">
                            <label class="custom-control-label"
                                   [for]="entry.id"></label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>