<tojira-alerts></tojira-alerts>

<div class="row col-md-12">
    <div class="col-md-3">
        <div class="list-group m-2">
            <a class="list-group-item list-group-item-action active font-weight-bold"
               style="color: white; font-style: italic;">
                <i class="fas fa-stopwatch mr-2"></i>
                ToJira
                <i class="fas fa-paper-plane ml-2"></i>
            </a>
            <a routerLink="/time-entries"
               class="list-group-item list-group-item-action">Time entries</a>
            <a routerLink="/settings"
               class="list-group-item list-group-item-action">Settings</a>
        </div>
    </div>
    <div class="col-md-9 p-2">
        <router-outlet></router-outlet>
    </div>
</div>