<tojira-alerts></tojira-alerts>

<div class="row col-md-12">
    <div class="col-md-3">
        <div class="list-group m-2"
             style="width: 19rem;">
            <a class="list-group-item list-group-item-action active font-weight-bold"
               style="color: white;">ToJira</a>
            <a routerLink="/time-entries"
               class="list-group-item list-group-item-action">Time entries</a>
            <a routerLink="/settings"
               class="list-group-item list-group-item-action">Settings</a>
        </div>
    </div>
    <div class="col-md-9 p-2">
        <router-outlet></router-outlet>
    </div>
</div>